.outerContainer {
  width: 884px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-popup);
}

.innerContainer {
  width: 94%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.execs {
  flex: 0 25%;
  padding-top: 10px;
  margin: 0;
}

.line {
  background-color: var(--color-lines);
  height: 1px;
  width: 95%;
}
