.container{
    background-color: var(--color-background-popup);
    margin-top: 2%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.question{
    margin-bottom: 26px;
    width: 45%;
}