.container{
    background-color: var(--color-background-popup);
    padding-top: 21px;
    width: 963px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.question{
    margin-bottom: 26px;
    width: 45%;
    margin-left: 2.5%;
}

@media only screen and (max-width: 700px){
    .question{
        width: 82%;
        margin-left: 8%;
    }
}