.container {
  margin: 20px 0 0;
  width: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
  z-index: 1;
}

.container img {
  max-width: 90%;
}

.text {
  font: var(--font-body);
  color: var(--color-text-body);
  padding-top: 5px;
  margin: 0;
}
