.headerFont {
  font: var(--font-header);
  margin: 0;
  color: var(--color-text-body);
}

.subHeaderFont {
  font: var(--font-sub-header);
  color: var(--color-text-header);
  margin: 0;
}

.paragraph {
  font: var(--font-body);
  line-height: 25px;
  margin-top: 30px;
  color: var(--color-text-body);
}
