.container {
  display: flex;
  flex-direction: column;
  margin: 200px 9% 0;
}

.link {
  font: var(--font-body);
  color: var(--color-text-body);
  line-height: 30px;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
