.backgroundContainer {
  background-image: url('../assets/light/background-mobile-light.svg');
  background-size: cover;
  height: 624px;
}

[data-theme='dark'] .backgroundContainer {
  background-image: url('../assets/dark/background-mobile-dark.svg');
}

.headerContainer {
  display: flex;
  justify-content: space-between;
}

.themeButton {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.themeToggle {
  height: 34px;
  width: 34px;
  margin: 10px 15px;
  background-repeat: no-repeat;
  background-image: url('../assets/light/lightmodeIcon-mobile.svg');
}

[data-theme='dark'] .themeToggle {
  background-image: url('../assets/dark/darkmodeIcon-mobile.svg');
}

.headingContainer {
  width: 300px;
  margin: 100px auto 0;
}

.titleContainer {
  display: flex;
  align-items: center;
}

.stormhacksLogo {
  min-width: 85px;
  height: 88px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../assets/light/stormhacksLogo-light.svg');
}

[data-theme='dark'] .stormhacksLogo {
  background-image: url('../assets/dark/stormhacksLogo-dark.svg');
}

.title {
  font: var(--font-title);
  color: var(--color-text-header);
  line-height: 45px;
  margin: 0 0 0 10px;
}

.date {
  font: var(--font-date-header);
  color: var(--color-date-header);
  margin: 4px 24px 0 0;
  float: right;
}

.subheading {
  font: var(--font-header);
  color: var(--color-text-header);
  padding-top: 23px;
  margin-bottom: 0;
}

.subheader {
  margin: 0;
  font: var(--font-sub-header);
  color: var(--color-text-body);
}

.applyButton {
  width: 80%;
  display: block;
  margin: 33px auto 0;
  height: 50px;
  background-color: var(--color-text-header);
  color: var(--color-text-white);
  font: var(--font-sub-header);
  border: none;
}
