.container {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin: 80px 9% 0;
}

.heading {
  font: var(--font-header);
  color: var(--color-text-body);
  margin: 0 0 45px 0;
}

.sponsorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .container {
    width: 550px;
    margin: 112px auto 0;
  }
}
