.container {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin-top: 80px;
}

.heading {
  font: var(--font-header);
  color: var(--color-text-body);
  margin: 0 0 45px 0;
}

.sponsorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
