.container {
  display: flex;
  flex-direction: column;
  width: 82%;
  margin: 80px 9% 0;
}

.heading {
  font: var(--font-header);
  color: var(--color-text-body);
  margin: 0 0 45px 0;
}

.sponsorContainer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.goldSponsors {
  flex: 1 100%;
}

.sponsors {
  flex: 1 100%;
}

@media only screen and (min-width: 600px) {
  .container {
    width: 550px;
    margin: 112px auto 0;
  }

  .sponsors {
    flex: 0 50%;
  }
}
