.container {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-bottom: 35px;
}

.title {
  font: var(--font-header);
  color: var(--color-text-body);
}

.date {
  color: var(--color-text-body);
  font: var(--font-body-bold);
  margin-top: 0px;
  margin-bottom: 11px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--color-lines);
}

.innerContainer {
  margin-top: 15px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.eventDescription {
  width: 80%;
  padding-left: 12px;
}

.eventText {
  margin: 0;
  font: var(--font-body-schedule);
  color: var(--color-text-body);
}

.links {
  cursor: pointer;
  text-decoration: none;
}

.img {
  width: 40px;
  height: 100%;
  background-position-x: center;
}

#stormyFace {
  background-image: url('../assets/light/stormy-face.svg');
}

[data-theme='dark'] #stormyFace {
  background-image: url('../assets/dark/sparky-face.svg');
}

#react {
  background-image: url('../assets/light/react-light.svg');
}

[data-theme='dark'] #react {
  background-image: url('../assets/dark/react-dark.svg');
}

#android {
  background-image: url('../assets/light/android-light.svg');
}

[data-theme='dark'] #android {
  background-image: url('../assets/dark/android-dark.svg');
}

#echo {
  background-image: url('../assets/light/echoAR-light.svg');
}

[data-theme='dark'] #echo {
  background-image: url('../assets/dark/echoAR-dark.svg');
}
