.container {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.title {
  font: var(--font-header);
  color: var(--color-text-body);
}

.date {
  color: var(--color-text-body);
  font: var(--font-body-bold);
  margin-bottom: 11px;
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--color-lines);
}
