.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 180px;
}

.instagram {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/instagram-light.svg');
}

[data-theme='dark'] .instagram {
  background-image: url('../assets/dark/instagram-dark.svg');
}

.instagram:hover {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/instagram-light-hover.svg');
}

[data-theme='dark'] .instagram:hover {
  background-image: url('../assets/dark/instagram-dark-hover.svg');
}

.facebook {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/facebook-light.svg');
}
[data-theme='dark'] .facebook {
  background-image: url('../assets/dark/facebook-dark.svg');
}

.facebook:hover {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/facebook-light-hover.svg');
}

[data-theme='dark'] .facebook:hover {
  background-image: url('../assets/dark/facebook-dark-hover.svg');
}

.linkedin {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/linkedin-light.svg');
}

[data-theme='dark'] .linkedin {
  background-image: url('../assets/dark/linkedin-dark.svg');
}

.linkedin:hover {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/linkedin-light-hover.svg');
}

[data-theme='dark'] .linkedin:hover {
  background-image: url('../assets/dark/linkedin-dark-hover.svg');
}

.github {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/github-light.svg');
}

[data-theme='dark'] .github {
  background-image: url('../assets/dark/github-dark.svg');
}

.github:hover {
  width: 36px;
  height: 36px;
  background-image: url('../assets/light/github-light-hover.svg');
}

[data-theme='dark'] .github:hover {
  background-image: url('../assets/dark/github-dark-hover.svg');
}
