.container {
  width: 884px;
  height: 748px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background-popup);
}

.heading {
  color: var(--color-text-body);
  font: var(--font-sub-header);
  margin: 30px 0 38px;
  width: 95%;
}

.line {
  background-color: var(--color-lines);
  height: 1px;
  width: 95%;
}

.sponsors {
  border-top: 1px solid var(--color-lines);
  flex-grow: 1;
  width: 33%;
  padding: 10px 0;
}

.innerContainer {
  width: 94%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.expand {
  border-top: 1px solid var(--color-lines);
  flex-grow: 10;
  padding: 10px 0;
}
