.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}

@media only screen and (min-width: 900px) {
  .container {
    height: 200px;
    margin: 0;
  }
}

.name {
  color: var(--color-text-body);
  font: var(--font-body);
}
