:root {
  --color-background-main: #F8F8F8;
  --color-background-popup: #FFFFFF;
  --color-text-body: #282828;
  --color-text-header: #5A60F3;
  --color-footer: #5A60F3;
  --color-scroll: #F0F0F0;
  --color-scroll-arrows: #C4C4C4;
  --color-lines: #D3D3D3;
  --font-title: 700 54px Poppins;
  --font-header: 600 24px Poppins;
  --font-sub-header: 700 20px Poppins;
  --font-body: 500 16px Barlow;
  --font-body-bold: 700 16px Barlow;
  --font-email-header: 600 24px Poppins;
  --font-email-sub-header: 400 20px Poppins;
  --font-email-placeholder: 500 12px Barlow;
}

@media only screen and (min-width: 700px) {
  :root{
    --font-title: 700 136px Poppins;
    --font-subtitle: 600 36px Poppins;
    --font-header: 600 25px Poppins;
    --font-sub-header: 700 20px Poppins;
    --font-body: 500 15px Barlow;
    --font-body-bold: 700 15px Barlow;
    --font-email-header: 600 50px Poppins;
    --font-email-sub-header: 400 36px Poppins;
    --font-email-placeholder: 500 18px Barlow; 
  }
}

[data-theme='dark'] {
  --color-background-main: #323232;
  --color-background-popup: #424349;
  --color-text-body: #F4F4F4;
  --color-text-header: #F5B523;
  --color-footer: #282828;
  --color-scroll: #5A5B62;
  --color-scroll-arrows: #F4F4F4;
  --color-lines: #616161;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
