:root {
  --color-background-main: #f8f8f8;
  --color-background-popup: #ffffff;
  --color-popup-opaque: rgba(255, 255, 255, 0.8);
  --color-date-header: #a1abff;
  --color-footer: #5a60f3;
  --color-lines: #d3d3d3;
  --color-modal: #ffffff;
  --color-modal-accent: #f0f0f0;
  --color-scroll: #f0f0f0;
  --color-scroll-arrows: #c4c4c4;
  --color-text-body: #282828;
  --color-text-header: #5a60f3;
  --color-text-white: #f4f4f4;
  --color-sign-up: var(--color-footer);
  --color-sign-up-background: var(--color-modal);
  --font-body: 500 16px Barlow;
  --font-body-bold: 700 16px Barlow;
  --font-body-schedule: 500 15px Barlow;
  --font-date-header: 600 16px Poppins;
  --font-events-header: 600 17px Poppins;
  --font-email-header: 600 24px Poppins;
  --font-email-sub-header: 400 20px Poppins;
  --font-email-placeholder: 500 12px Barlow;
  --font-header: 600 24px Poppins;
  --font-sub-header: 700 20px Poppins;
  --font-title: 700 54px Poppins;
}

@media only screen and (min-width: 600px) {
  :root {
    --font-body-bold: 700 15px Barlow;
    --font-email-header: 600 50px Poppins;
    --font-email-sub-header: 400 36px Poppins;
    --font-email-placeholder: 500 18px Barlow;
    --font-header: 600 25px Poppins;
    --font-sub-header: 700 20px Poppins;
    --font-subtitle: 600 36px Poppins;
    --font-title: 700 110px Poppins;
    --font-body: 500 15px Barlow;
  }
}

[data-theme='dark'] {
  --color-background-main: #323232;
  --color-background-popup: #424349;
  --color-popup-opaque: rgba(66, 67, 73, 0.9);
  --color-date-header: #f4f4f4;
  --color-footer: #282828;
  --color-lines: #616161;
  --color-modal: #212121;
  --color-modal-accent: #212121;
  --color-mobile-gears: #3c3c3c;
  --color-scroll: #5a5b62;
  --color-scroll-arrows: #f4f4f4;
  --color-text-body: var(--color-text-white);
  --color-text-header: #f5b523;
  --color-sign-up: #ffffff;
  --color-sign-up-background: #545454;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
